@charset "utf-8";
/* CSS Document */
html{font-size:62.5%}
body,ul,li,p,dl,dd,dt,h1,h2,h3,figure{padding:0;margin:0;}
body{width:100%;height:100%;color:#000;display:block;font:normal 1.2rem/1.4rem -apple-system-font,Helvetica Neue,Helvetica,sans-serif;background:#f4f4f4;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select: none;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body.on,html.on{position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden}
a{color:#000;outline:0;font-family:-apple-system-font,Helvetica Neue,Helvetica,sans-serif;text-decoration:none;font-size:1.2rem;background:none}
i{font-style:normal}h1,h2,h3{font-weight:normal}
a::visited,a:active,a:hover{color:#000}
img{vertical-align:top;height:100%}
input,textarea,select{font-size:1.4rem;line-height:100%;color:#000;margin:0;padding:0;border:0;border-radius:0;font-family:Helvetica,sans-serif,"微软雅黑";appearance:none;-moz-appearance:none;-webkit-appearance:none}input:focus,textarea:focus,select:focus{outline-style:none}
input::-webkit-search-cancel-button{display:none}
table{border-collapse:collapse}
ul,li{list-style:none}
.fl{float:left}.fr{float:right}
.clr{#zoom:1;clear:both}
.clr:before,.clr:after{display:block;content:".";text-indent:-999rem;height:0!important;font-size:0!important;line-height:0!important;visibility:hidden}
.clr:after{clear:both}
/* IE 6/7浏览器 (触发hasLayout) */
.clr{*zoom:1}
.t-c{text-align:center}.t-r{text-align:right}
.directly span,.directly a{width:100%;padding-top:100%;position:relative;display:block}
.directly span img,.directly a img{width:100%;height:100%;position:absolute;top:0;left:0}
.circles{border-radius:50%;overflow:hidden}
@font-face {font-family: "wenrfont";
  src: url('font/iconfont.eot?t=1484882480220'); /* IE9*/
  src: url('font/iconfont.eot?t=1484882480220#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('font/iconfont.woff?t=1484882480220') format('woff'), /* chrome, firefox */
  url('font/iconfont.ttf?t=1484882480220') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('font/iconfont.svg?t=1484882480220#wenrfont') format('svg'); /* iOS 4.1- */
}
.wenrfont{font-family:"wenrfont" !important;font-size:1.2rem;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
/***外边距&内边距***/
.p-10{padding:1rem}.p-15{padding:1.5rem}.p-20{padding:2rem}
.pt-10{padding-top:1rem}.pt-20{padding-top:2rem}
.pl-05{padding-left:.5rem}.pl-10{padding-left:1rem}.pl-20{padding-left:2rem}.pr-05{padding-right:.5rem}.pr-10{padding-right:1rem}
.pb-10{padding-bottom:1rem}.pb-20{padding-bottom:2rem}
.m-10{margin:1rem}
.ml-05{margin-left:.5rem}.ml-10{margin-left:1rem}
.mt-05{margin-top:.5rem}.mt-10{margin-top:1rem}.mt-20{margin-top:2rem}.mt-30{margin-top:3rem}.mt-40{margin-top:4rem}
.mr-05{margin-right:.5rem}.mr-10{margin-right:1rem}.mr-20{margin-right:2rem}
.mb-05{margin-bottom:.5rem}.mb-10{margin-bottom:1rem}.mb-20{margin-bottom:2rem}
.d-ib{display:inline-block}.d-b{display:block}.v-t{vertical-align:top}.v-m{vertical-align:middle}.bs-b{box-sizing:border-box}

/***动画***/
.wenr-time{-webkit-transition:all .1s linear;-moz-transition:all .1s linear;-o-transition:all .1s;transition:all .1s linear}
.wenr-b{-webkit-transform:translate(0,100%);transform:translate(0,100%)}
.wenr-b.play{-webkit-transform:translate(0,0);transform:translate(0,0)}
.wenr-c{-webkit-transform:translate(-50%,-50%) scale(0);transform:translate(-50%,-50%) scale(0)}
.wenr-c.play{-webkit-transform:translate(-50%,-50%) scale(1);transform:translate(-50%,-50%) scale(1)}
.wenr-r{-webkit-transform:translate(100%,0);transform:translate(100%,0)}
.wenr-r.play{-webkit-transform:translate(0,0);transform:translate(0,0)}

.c-white{color:#fff}.c-gray{color:#999}.c-darkgray{color:#666}.c-orange{color:#ff6600}.c-green{color:#2e834a}
.bg-orange{background:#ff6600}
.bg-gray{background:#ddd}

.t-default{width:100%;height:4.6rem;padding:1.5rem;border-radius:.5rem;border:.1rem solid #666;box-sizing:border-box;background:#fff}
.t-default::-webkit-input-placeholder{line-height:2rem}.t-default::-moz-placeholder{line-height:2rem}.t-default::-ms-input-placeholder{line-height:2rem}
.t-default.no-error,.ta-default.no-error{border:.1rem solid #990000;box-shadow:0 0 .5rem #c28484}
.select-arrow{position:relative}.select-arrow::after{width:2rem;height:2rem;content:"\e64f";text-align:center;font:normal 1.8rem/2rem "wenrfont";color:#999;position:absolute;top:1.3rem;right:.5rem}
.ta-default{width:100%;min-height:5rem;border-radius:.5rem;padding:1.5rem;border:.1rem solid #4f4343;box-sizing:border-box;background:#fff}
.b-default{width:100%;height:4.6rem;display:block;font-size:1.8rem;line-height:4.6rem;text-align:center;border-radius:.5rem;border:none;box-sizing:border-box}
.radio,.checkbox{width:1.8rem;height:1.8rem;display:inline-block;position:relative;box-sizing:border-box;overflow:hidden;border:.1rem solid #786d6c;background:none}
.radio:checked,.checkbox:checked,.r-orange.select{border:none}
.radio:checked::before,.checkbox:checked:before,.r-orange.select::before{width:1.8rem;height:1.8rem;text-align:center;line-height:1.8rem;display:block;font-family:"wenrfont";content:'\e650';color:#fff;font-size:1.7rem;text-indent:.1rem;position:absolute;top:0;left:0}
.radio{border-radius:1.8rem}.radio:checked::before{border-radius:1.8rem;background:#990000}
.radio.r-orange:checked::before,.r-orange.select{background:#990000}
.checkbox{border-radius:.5rem}.checkbox:checked::before{background:#990000}

/***字体***/
.f-14{font-size:1.4rem!important}.f-16{font-size:1.6rem!important}.f-18{font-size:1.8rem!important}.f-22{font-size:2.2rem!important}.f-30{font-size:3rem!important}
.lh-14{line-height:1.4rem!important}.lh-16{line-height:1.6rem!important}.lh-18{line-height:1.8rem}.lh-20{line-height:2rem}.lh-30{line-height:2.6rem}

.wenr-bg{display:none;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.3)}
img.img-loading{background:url(../images/loading.gif) no-repeat center center;background-size:30%}

.wenr-item-choose{width:100%;position:fixed;bottom:0;left:0;display:none;z-index:6;background:#fff}
.wenr-item-choose .w-i-c-hd{padding:1rem;position:relative}
.wenr-item-choose .w-i-c-photo{width:35%;padding:.3rem;position:relative;margin-top:-3rem;box-sizing:border-box;background:#fff}
.wenr-item-choose .w-i-c-info{width:65%;padding:0 1rem;box-sizing:border-box}
.wenr-item-choose .w-i-c-info .info-title{display:block;padding-right:4rem}
.wenr-item-choose .w-i-c-info .info-price{color:#eb6100}
.wenr-item-choose .w-i-c-close{width:3.2rem;height:3.2rem;position:absolute;top:1rem;right:1rem}
.wenr-item-choose .w-i-c-close::before,.wenr-item-choose .w-i-c-close::after{content:"";position:absolute;background:#999;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.wenr-item-choose .w-i-c-close::before{width:2rem;height:.2rem;top:1.5rem;left:.6rem}
.wenr-item-choose .w-i-c-close::after{width:.2rem;height:2rem;top:.6rem;left:1.5rem}
.wenr-item-choose .w-i-c-select{padding:1rem .5rem}
.wenr-item-choose .w-i-c-select a{padding:1rem 2rem;font-size:1.4rem;display:block;float:left;margin:.5rem;border-radius:1.1rem;background:#f4f4f4;}
.wenr-item-choose .w-i-c-select a.select{color:#fff;background:#000}
.wenr-item-choose .w-i-c-number{padding:1rem;padding-bottom:2rem;overflow:hidden}
.wenr-item-choose .w-i-c-number .number-title{line-height:3.4rem}
.wenr-item-choose .w-i-c-number .number-choose{overflow:hidden}
.wenr-item-choose .w-i-c-number .number-choose li{float:left}
.wenr-item-choose .w-i-c-number .number-choose li.btn-minus,.number-choose li.btn-add{width:3.4rem;height:3.4rem;position:relative;background:#f4f4f4}
.wenr-item-choose .w-i-c-number .number-choose li.btn-minus:before,
.wenr-item-choose .w-i-c-number .number-choose li.btn-add:before,
.wenr-item-choose .w-i-c-number .number-choose li.btn-add:after{content:"";position:absolute;border-radius:1rem;display:block;background:#999}
.wenr-item-choose .w-i-c-number .number-choose li.btn-minus:before,.wenr-item-choose .w-i-c-number .number-choose li.btn-add:before{width:1.6rem;height:.2rem;left:.9rem;top:1.6rem}
.wenr-item-choose .w-i-c-number .number-choose li.btn-add:after{width:.2rem;height:1.6rem;left:1.6rem;top:.9rem}
.wenr-item-choose .w-i-c-number .number-choose li .text-number{width:6rem;height:3.4rem;text-align:center;margin:0 .2rem;background:#f4f4f4}

.wenr-bd{height:5rem;}
.wenr-float-btn{position:fixed;left:0;right:0;bottom:0;z-index:5}
.wenr-float-btn a.b-default{display:block;border-radius:0;height:5rem;line-height:5rem;color:#fff}

.wner-form-text .t-default,.wner-form-text .ta-default{border-radius:0;border:0;font-size:1.5rem;line-height:2rem}
.wenr-modules .wenr-title{padding:1.5rem;overflow:hidden;font-size:1.5rem}
.wenr-modules .wenr-list{display:block;position:relative;overflow:hidden;font-size:1.5rem;line-height:1.4rem;padding:1.5rem}
.wenr-modules .wenr-list .wenr-m-left{position:absolute;top:1.5rem;left:1.5rem}
.wenr-modules .wenr-list .wenr-m-right{text-align:right;position:relative}.wenr-modules .wenr-list .wenr-m-right a{min-width:5rem;display:inline-block;font-size:1.5rem}
.wenr-lines{margin-top:1rem}
.wenr-lines,.wenr-line-t,.wenr-line-b{position:relative;background:#fff}
.wenr-line-t:before,.wenr-line-b:after,.wenr-lines:before,.wenr-lines:after,
.wenr-modules .wenr-list::before,
.wenr-address .wenr-address-list li::before{content:"";position:absolute;left:0;z-index:2;right:0;height:.1rem;-webkit-transform:scaleY(0.5);transform:scaleY(0.5)}
.wenr-modules .wenr-list:first-child::before,.wenr-address .wenr-address-list li:first-child::before{display:none}
.wenr-modules .wenr-list::before,.wenr-address .wenr-address-list li::before{left:1.5rem}
.wenr-lines:before,.wenr-line-t:before,
.wenr-modules .wenr-list::before,
.wenr-address .wenr-address-list li::before{top:0;border-top:1px solid #e9e9e9;-webkit-transform-origin:0 0;transform-origin:0 0}
.wenr-lines:after,.wenr-line-b:after{bottom:0;border-bottom: 1px solid #e9e9e9;-webkit-transform-origin:0 100%;transform-origin:0 100%}

.wenr-popup-right,.wenr-address-add{position:fixed;top:0;right:0;bottom:0;left:0;display:none;background:#f4f4f4}
.wenr-popup-right{z-index:6}.wenr-address-add{z-index:7}
.wenr-address{position:fixed;top:0;right:0;bottom:5rem;left:0;z-index:6;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;background:#f4f4f4}
.wenr-address .wenr-address-list{margin-top:0}
.wenr-address .wenr-address-list li{padding:1.5rem 4rem 1.5rem 1.5rem;position:relative}
.wenr-address .wenr-address-list li .w-a-l-hd{font-size:1.6rem}.wenr-address .wenr-address-list li .w-a-l-hd span{margin-right:1rem}
.wenr-address .wenr-address-list li .w-a-l-bd{font-size:1.3rem;line-height:1.6rem;margin-top:1rem;}
.wenr-address .wenr-address-list li::after{width:2rem;height:2rem;border-radius:50%;border:.1rem solid #ddd;content:"";position:absolute;right:1.5rem;top:50%;margin-top:-1rem}
.wenr-address .wenr-address-list li.select::after{content:"\e652";font:normal 2.2rem/2rem "wenrfont";color:#fff;border:.1rem solid #009944;background:#009944}
.wenr-address-addbtn{position:fixed;left:0;right:0;bottom:0;}
.wenr-address-addbtn a{width:100%;height:5rem;font-size:1.8rem;z-index:7;line-height:5rem;color:#fff;text-align:center;display:block}
.wenr-address-select{position:relative;padding:1.5rem;background:#fff}
.wenr-address-select.address{padding-left:4rem}.wenr-address-select.arrow{padding-right:4rem}
.wenr-address-select.address::before,.wenr-address-select.arrow::after{width:3rem;height:3rem;font-family:"wenrfont";top:4rem;font-size:2rem;position:absolute;}
.wenr-address-select.address::before{left:1rem;content:"\e650";color:#666}
.wenr-address-select.arrow::after{right:0rem;content:"\e64f";color:#999}
.wenr-address-select .w-a-s-hd{font-size:1.6rem}
.wenr-address-select .w-a-s-bd{margin-top:1rem;font-size:1.3rem;line-height:1.6rem}
.wenr-address-lump{height:.5rem;border:.1rem solid #f4f4f4;overflow:hidden;background:#fff}
.wenr-address-lump span{width:5%;height:.5rem;display:block;float:left;transform:skew(-20deg)}
.wenr-address-lump span:nth-child(even){margin:0 2.5%;background:#83beff}
.wenr-address-lump span:nth-child(odd){margin:0 2.5%;background:#ff9999}

.wenr-prompt{width:70%;position:fixed;top:50%;left:50%;display:none;z-index:9;text-align:center;padding:2rem 1.5rem;box-sizing:border-box;border-radius:1rem;font-size:1.6rem;color:#fff;background:rgba(0,0,0,.8)}
.wenr-prompt::before{width:3rem;height:3rem;display:block;margin:0 auto 1rem;border-radius:50%;font:normal 1.6rem/3rem "wenrfont";}
.wenr-prompt.warn::before{border:.1rem solid #fff;content:"\e600";}

.wenr-prod-show{padding:1.5rem}
.wenr-prod-show .w-p-s-photo{width:25%}
.wenr-prod-show .w-p-s-info{width:75%;padding-left:1rem;box-sizing:border-box}

.wenr-prompt-page{padding:1.5rem;text-align:center;}
.wenr-prompt-page .w-p-p-ico::before{width:10rem;height:10rem;border-radius:50%;color:#fff;margin:5rem auto 1rem;display:block;font-family:"wenrfont";line-height:10rem}
.wenr-prompt-page .w-p-p-ico.success::before{content:"\e652";font-size:8rem;background:#009944}
.wenr-prompt-page .w-p-p-title{font-size:2rem;line-height:3rem}
.wenr-prompt-page .w-p-p-subhead{font-size:1.4rem;line-height:1.8rem;color:#666;}
.wenr-prompt-page .w-p-p-prompt{font-size:1.4rem;padding:1rem;line-height:2rem;color:#eb6100;margin:2rem 2rem;border-radius:.6rem;border:.1rem solid #e1b27c;background:#fff5e0}
.wenr-prompt-page .w-p-p-prompt a{font-size:1.4rem;text-decoration:underline;color:#eb6100}
.wenr-popup-center{width:90%;min-height:8rem;display:none;border-radius:1.1rem;position:fixed;top:50%;left:50%;z-index:9;background:#fff}
.wenr-popup-center .wenr-p-c-title{font-size:1.8rem;line-height:2rem;padding:2rem 0 0;text-align:center}
.wenr-popup-center .wenr-p-c-close{width:3rem;height:3rem;position:absolute;top:1rem;right:1rem}
.wenr-popup-center .wenr-p-c-close::before,.wenr-popup-center .wenr-p-c-close::after{content:"";position:absolute;background:#999;-webkit-transform:rotate(45deg);transform:rotate(45deg)}
.wenr-popup-center .wenr-p-c-close::before{width:2.4rem;height:.2rem;top:1.4rem;left:.3rem}
.wenr-popup-center .wenr-p-c-close::after{width:.2rem;height:2.4rem;top:.3rem;left:1.4rem}
.wenr-popup-center .wenr-p-c-con{padding:2rem;font-size:1.4rem;text-align:justify; line-height:1.8rem}
.wenr-warn{display:inline-block;vertical-align:top;margin:.1rem 0 0 .5rem}
.wenr-warn::before{width:1.5rem;height:1.5rem;text-align:center;border-radius:.3rem;display:block;color:#fff;content:"?";line-height:1.5rem;overflow:hidden;background:#eb6100;}

.wenr-order .wenr-order-list .w-o-l-prod{padding:1.5rem;display:block;font-size:1.5rem;background:#f8f8f8}
.wenr-order .wenr-order-list .w-o-l-warn{display:block;font-size:1.5rem;padding:1.5rem;}
.wenr-order .wenr-order-list .w-o-l-warn .arrow::after,.wenr-modules .wenr-list .wenr-m-right.arrow::after{width:1rem;height:1.4rem;float:right;margin-left:.5rem;content:"\e64f";font:normal 1.8rem/1.4rem "wenrfont";color:#999}
.wenr-order .wenr-order-list .w-o-l-photo{width:30%;}
.wenr-order .wenr-order-list .w-o-l-title{width:70%;line-height:1.8rem;padding-left:1rem;box-sizing:border-box}
.wenr-order .wenr-order-list .w-o-l-info{padding:1.5rem;text-align:right}
.wenr-order .wenr-order-list .w-o-l-price{min-width:7rem;text-align:right;display:inline-block}
.wenr-order .wenr-order-list .w-o-l-btn{padding:1rem 1.5rem}
.wenr-order .wenr-order-list .w-o-l-btn a,.wenr-order-detail-btn a{float:right;display:block;margin-left:1rem;border-radius:.5rem;padding:.6rem 1rem;font-size:1.4rem}
.wenr-order .wenr-order-list .w-o-l-btn a.c-gray,.wenr-order-detail-btn a.c-gray{border:.1rem solid #ccc;color:#333}
.wenr-order .wenr-order-list .w-o-l-btn a.c-orange,.wenr-order-detail-btn a.c-orange{border:.1rem solid #ff6600;color:#ff6600}
.wenr-order .wenr-order-detail .w-o-d-express{position:relative;display:block;padding:0 3rem;font-size:1.5rem;line-height:1.8rem}
.wenr-order .wenr-order-detail .w-o-d-express::before,.wenr-order .wenr-order-detail .w-o-d-express::after{height:2rem;font:normal 2rem/2rem "wenrfont";position:absolute}
.wenr-order .wenr-order-detail .w-o-d-express::before{width:2rem;top:0;left:0;content:"\e667";color:#666}
.wenr-order .wenr-order-detail .w-o-d-express::after{width:1.3rem;top:50%;right:0rem;margin-top:-1rem;content:"\e64f";color:#999}
.wenr-order-bd{background:#fff}
.wenr-order-bd .w-o-b-info{width:65%;text-align:right;line-height:1.6rem;padding:1rem 1.5rem 0 0;box-sizing:border-box}
.wenr-order-bd .w-o-b-btn{width:35%}
.wenr-order-detail-btn{height:5rem;box-sizing:border-box;padding:1.2rem;background:#fff}

.wner-rma .wner-rma-hd{padding:0 1.5rem;font-size:1.5rem;overflow:hidden;}.wner-rma .wner-rma-hd .wenr-line-b{padding:1.5rem 0;overflow:hidden}
.wner-rma .wner-rma-list{padding:.5rem}
.wner-rma .wner-rma-list .w-r-l-item{width:50%;float:left;box-sizing:border-box;padding:1rem;}
.wner-rma .w-r-l-item .w-r-l-title{font-size:1.4rem;margin:1rem 0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.wner-rma .w-r-l-item li{float:left}
.wner-rma .w-r-l-price,.wner-rma .w-r-l-number .number-text{line-height:2.4rem}
.wner-rma .w-r-l-number .number-text{width:3rem;height:2.4rem;color:#666;font-size:1.6rem;text-align:center}
.wner-rma .w-r-l-number .number-minus,.wner-rma .w-r-l-number .number-text{display:none}
.wner-rma .w-r-l-number .number-minus,.wner-rma .w-r-l-number .number-add{width:2.4rem;height:2.4rem;position:relative;border-radius:50%;background:#f4f4f4}
.wner-rma .w-r-l-number .number-minus::before,.wner-rma .w-r-l-number .number-add::before,.wner-rma .w-r-l-number .number-add::after{content:"";position:absolute;border-radius:1rem;display:block;background:#999}
.wner-rma .w-r-l-number .number-minus::before,.wner-rma .w-r-l-number .number-add::before{width:1.2rem;height:.2rem;left:.6rem;top:1.1rem}
.wner-rma .w-r-l-number .number-add::after{width:.2rem;height:1.2rem;left:1.1rem;top:.6rem}

.wenr-user .wenr-user-hd{padding:3rem 0;text-align:center;background:url(../images/user_bg.jpg);background-size:cover}
.wenr-user .wenr-user-hd .w-u-h-photo{width:10rem;margin:0 auto 2rem;border:.2rem solid #fff}
.wenr-user .wenr-user-hd .w-u-h-name{font-size:1.5rem;color:#fff}
.wenr-user .wenr-user-item{padding:2rem 0;position:relative;overflow:hidden;text-align:center;background:#fff}
.wenr-user .wenr-user-item::after{width:100%;position:absolute;content:"";z-index:2;left:0;bottom:0;height:.1rem;-webkit-transform:scaleY(0.5);transform:scaleY(0.5);border-bottom: 1px solid #e9e9e9;-webkit-transform-origin:0 100%;transform-origin:0 100%}
.wenr-user .wenr-user-item .w-u-i-title{font-size:1.5rem;padding:0 0 1rem;line-height:1.8rem}
.wenr-user .wenr-user-item .w-u-i-info span{display:inline-block;line-height:3rem;vertical-align:top;}
.wenr-user .wenr-user-item .w-u-i-info .number{font-size:3rem}.wenr-user .wenr-user-item .w-u-i-info .unit{margin-top:.4rem;font-size:1.4rem}
.wenr-user .wenr-user-item .w-u-i-btn{width:8rem;line-height:2.6rem;color:#fff;font-size:1.4rem;margin:1rem auto 0;display:block;border-radius:.5rem}
.wenr-user .wenr-user-item .w-u-i-people,.wenr-user .wenr-user-item .w-u-i-surplus{width:50%}
.wenr-user .wenr-user-item .w-u-i-people{border-right:.1rem solid #f4f4f4;box-sizing:border-box}
.wenr-user .wenr-user-item .w-u-i-people .w-u-i-info{color:#2e834a!important}
.wenr-user .wenr-user-item .w-u-i-people .w-u-i-btn{background:#56bc84}
.wenr-user .wenr-user-item .w-u-i-surplus .w-u-i-info{color:#eb6100!important}
.wenr-user .wenr-user-item .w-u-i-surplus .w-u-i-btn{background:#f19149}

.wenr-user-distributor{background:#fff}
.wenr-user-distributor ul{overflow:hidden;border-bottom:.1rem solid #f0f0f0;padding:1.5rem;}
.wenr-user-distributor .w-u-d-photo{width:18%}
.wenr-user-distributor .w-u-d-info{width:82%;box-sizing:border-box;padding:.5rem 0 0 1.5rem;}
.wenr-user-distributor .w-u-d-info .neme{font-size:1.5rem;margin-bottom:.2rem}
.wenr-user-distributor .w-u-d-info .record{font-size:1.4rem;line-height:1.6rem}

.wenr-loading{width:8em;height:8em;display:none;position:fixed;z-index:997;top:50%;left:50%;background:rgba(0,0,0,.8);text-align:center;border-radius:.8rem;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.loading-text{margin-top:70%;color:#ccc;font-size:1.2rem}
.loading-animation{position:absolute;width:0px;z-index:999;left:50%;top:38%}
.loading-line{position:absolute;opacity:0.25}
.loading-line:before{content:"";position:absolute;width:12px;height:3px;background:rgb(209,209, 213);box-shadow:rgba(0,0,0,1) 0px 0px 1px;border-radius:20px;-webkit-transform-origin:left 50% 0px;transform-origin:left 50% 0px}
.loading-line.loading-line-0{animation:animation-l-0 1.25s linear infinite}
.loading-line.loading-line-0::before{transform:rotate(0deg) translate(7.92px, 0px)}
.loading-line.loading-line-1{animation:animation-l-1 1.25s linear infinite}
.loading-line.loading-line-1::before{transform:rotate(30deg) translate(7.92px, 0px)}
.loading-line.loading-line-2{animation:animation-l-2 1.25s linear infinite}
.loading-line.loading-line-2::before{transform:rotate(60deg) translate(7.92px, 0px)}
.loading-line.loading-line-3{animation:animation-l-3 1.25s linear infinite}
.loading-line.loading-line-3::before{transform:rotate(90deg) translate(7.92px, 0px)}
.loading-line.loading-line-4{animation:animation-l-4 1.25s linear infinite}
.loading-line.loading-line-4::before{transform:rotate(120deg) translate(7.92px, 0px)}
.loading-line.loading-line-5{animation:animation-l-5 1.25s linear infinite}
.loading-line.loading-line-5::before{transform:rotate(150deg) translate(7.92px, 0px)}
.loading-line.loading-line-6{animation:animation-l-6 1.25s linear infinite}
.loading-line.loading-line-6::before{transform:rotate(180deg) translate(7.92px, 0px)}
.loading-line.loading-line-7{animation:animation-l-7 1.25s linear infinite}
.loading-line.loading-line-7::before{transform:rotate(210deg) translate(7.92px, 0px)}
.loading-line.loading-line-8{animation:animation-l-8 1.25s linear infinite}
.loading-line.loading-line-8::before{transform:rotate(240deg) translate(7.92px, 0px)}
.loading-line.loading-line-9{animation:animation-l-9 1.25s linear infinite}
.loading-line.loading-line-9::before{transform:rotate(270deg) translate(7.92px, 0px)}
.loading-line.loading-line-10{animation:animation-l-10 1.25s linear infinite}
.loading-line.loading-line-10::before{transform:rotate(300deg) translate(7.92px, 0px)}
.loading-line.loading-line-11{animation:animation-l-11 1.25s linear infinite}
.loading-line.loading-line-11::before{transform:rotate(330deg) translate(7.92px, 0px)}

@-webkit-keyframes animation-l-0{
  0%{ opacity:0.25; }
  0.01%{ opacity:0.25; }
  0.02%{ opacity:1; }
  60.01%{ opacity:0.25; }
  100%{ opacity:0.25; }
}@-webkit-keyframes animation-l-1{
  0%{ opacity:0.25; }
  8.34333%{ opacity:0.25; }
  8.35333%{ opacity:1; }
  68.3433%{ opacity:0.25; }
  100%{ opacity:0.25; }
}@-webkit-keyframes animation-l-2{
  0%{ opacity:0.25; }
  16.6767%{ opacity:0.25; }
  16.6867%{ opacity:1; }
  76.6767%{ opacity:0.25; }
  100%{ opacity:0.25; }
}@-webkit-keyframes animation-l-3{
  0%{ opacity:0.25; }
  25.01%{ opacity:0.25; }
  25.02%{ opacity:1; }
  85.01%{ opacity:0.25; }
  100%{ opacity:0.25; }
}@-webkit-keyframes animation-l-4{
  0%{ opacity:0.25; }
  33.3433%{ opacity:0.25; }
  33.3533%{ opacity:1; }
  93.3433%{ opacity:0.25; }
  100%{ opacity:0.25; }
}@-webkit-keyframes animation-l-5{
  0%{ opacity:0.270958333333333; }
  41.6767%{ opacity:0.25; }
  41.6867%{ opacity:1; }
  1.67667%{ opacity:0.25; }
  100%{ opacity:0.270958333333333; }
}@-webkit-keyframes animation-l-6{
  0%{ opacity:0.375125; }
  50.01%{ opacity:0.25; }
  50.02%{ opacity:1; }
  10.01%{ opacity:0.25; }
  100%{ opacity:0.375125; }
}@-webkit-keyframes animation-l-7{
  0%{ opacity:0.479291666666667; }
  58.3433%{ opacity:0.25; }
  58.3533%{ opacity:1; }
  18.3433%{ opacity:0.25; }
  100%{ opacity:0.479291666666667; }
}@-webkit-keyframes animation-l-8{
  0%{ opacity:0.583458333333333; }
  66.6767%{ opacity:0.25; }
  66.6867%{ opacity:1; }
  26.6767%{ opacity:0.25; }
  100%{ opacity:0.583458333333333; }
}@-webkit-keyframes animation-l-9{
  0%{ opacity:0.687625; }
  75.01%{ opacity:0.25; }
  75.02%{ opacity:1; }
  35.01%{ opacity:0.25; }
  100%{ opacity:0.687625; }
}@-webkit-keyframes animation-l-10{
  0%{ opacity:0.791791666666667; }
  83.3433%{ opacity:0.25; }
  83.3533%{ opacity:1; }
  43.3433%{ opacity:0.25; }
  100%{ opacity:0.791791666666667; }
}@-webkit-keyframes animation-l-11{
  0%{ opacity:0.895958333333333; }
  91.6767%{ opacity:0.25; }
  91.6867%{ opacity:1; }
  51.6767%{ opacity:0.25; }
  100%{ opacity:0.895958333333333; }
}